# IO analysis

* https://rdrr.io/cran/ioanalysis/
* https://www.cso.ie/en/statistics/nationalaccounts/supplyandusetablesforireland/
* https://www.wider.unu.edu/database/2013-social-accounting-matrix-zimbabwe
* http://www.real.illinois.edu/pyio/
* https://cran.r-project.org/web/packages/ioanalysis/ioanalysis.pdf

In [1]:
import pandas as pd

In [2]:
t = pd.read_excel('P-SAUCUP2016TBL01.xlsx', header=4,index_col=1)

In [3]:
t=t.iloc[1:,1:]

In [4]:
cols=t.columns
n=cols[0]

In [5]:
print(t.sum())

Agriculture, forestry and fishing                              1.709450e+04
Mining, quarrying and extraction                               2.691184e+03
Manufacture of food products                                   4.535295e+04
Manufacture of beverages and tobacco products                  5.421200e+03
Manufacture of textiles                                        5.060820e+02
                                                                   ...
Private households with employed persons                       1.189676e+02
Total domestic                                                 1.081357e+06
Imports c.i.f. (cost, insurance & freight inclusive)           8.525191e+05
Taxes on products                                              4.214260e+04
Total supply at purchasers' prices (= total use in Table 2)    2.534967e+06
Length: 62, dtype: float64

In [12]:
x=pd.read_csv('WP2018-139-Data-for-a-2013-Zimbabwe-SAM.csv')

In [13]:
x

,Unnamed: 0,alagr,asagr,afore,afish,amcoa,amnfm,amoth,afood,atobm,...,atax,stax,mtax,dtax,s-i,dstk,row,total,coltot,error
0,alagr,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,"1,365","1,365",2.270000e-13
1,asagr,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,"1,047","1,047",0.000000e+00
2,afore,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,141,141,0.000000e+00
3,afish,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,1,1,0.000000e+00
4,amcoa,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,657,657,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,dtax,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,"1,308","1,308",2.270000e-13
97,s-i,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,"3,889","1,758","1,758",0.000000e+00
98,dstk,-,-,-,-,-,-,-,-,-,...,-,-,-,-,5,-,-,5,5,2.140000e-13
99,row,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,"9,364","9,364",0.000000e+00
100,total,"1,365","1,047",141,1,657,947,93,915,476,...,188,"1,575",362,"1,308","1,758",5,"9,364",NaN,NaN,NaN